<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation -->
	<div class="container-fluid">
		<nav class="navbar nav nav-tabs">
			<%= link_to "Blocipedia", root_path, class: "navbar-brand" %>
			<div class="pull-right user-info">
				<% if user_signed_in? %>
			   	Signed in as: <strong><%= current_user.name %></strong> |
			   	<%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-default'  %>
			 	<% else %>
			   	<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
			   	<%= link_to "Sign In", new_user_session_path, class: 'btn btn-default'  %>
			 	<% end %>
			</div>
		</nav>
	</div>

	<div class="container">

		<%= render 'layouts/messages' %>

		<%= yield %>
	</div>

</body>
</html>
